<app-titulo-pagina [titulo]="pageTitle"></app-titulo-pagina>

<mat-list role="list">
  <mat-list-item role="listitem"
    >Botão de submit desabilitado enquanto os campos forem invalidos</mat-list-item
  >
  <mat-list-item role="listitem"
    >Campos validados com regex</mat-list-item
  >
  <mat-list-item role="listitem"
    >Erros de campos mostrados para o usuario</mat-list-item
  >
  <mat-list-item role="listitem"
    >Utilizado web storage para cadastrar uma receita e mostrada no console log e alert nessa entrega e posteriormente nas proximas entregas será trocado para json server como combinado com o professor</mat-list-item
  >

</mat-list>
