<app-titulo-pagina [titulo]="pageTitle"></app-titulo-pagina>

<mat-list role="list">
  <mat-list-item role="listitem"
    >Professor, ativar o json server para verificar todo o fluxo por favor</mat-list-item
  >
  <mat-list-item role="listitem"
    >mapear componentes as rotas foi feito na atividade 06</mat-list-item
  >
  <mat-list-item role="listitem"
    >criar navegação entre paginas foi feito na atividade 06</mat-list-item
  >
  <mat-list-item role="listitem"
    >Passagem da hierarquia de componentes com @INPUT foi feito no titulo das
    paginas que agora é um componente, posteriormente vou fazer uma modal com
    @output</mat-list-item
  >
  <mat-list-item role="listitem"
    >Passagem de dados via parametro de rota foi feito na listagem, quando clica
    em editar, vai ser redirecionado para a pagina de atualização, passando o ID
    da receita, nas proximas atividades vou continuar com a pagina de
    edição</mat-list-item
  >
</mat-list>
