<app-titulo-pagina [titulo]="pageTitle"></app-titulo-pagina>

<mat-list role="list">
  <mat-list-item role="listitem"
    >NG IF utilizado para mostrar e esconder botão salvar/atualizar</mat-list-item
  >
  <mat-list-item role="listitem"
    >NG IF utilizado para mostrar e esconder textos de erro de input</mat-list-item
  >
  <mat-list-item role="listitem"
    >NG FOR utilizado para mostrar os tipos de categoria no select</mat-list-item
  >
  <mat-list-item role="listitem"
    >Requisições feitas com observables</mat-list-item
  >
  <mat-list-item role="listitem"
  >Criação de pipe para formatar minutos para hora, na tela de visualização de receita</mat-list-item
>


</mat-list>
