<app-titulo-pagina [titulo]="pageTitle"></app-titulo-pagina>

<mat-card id="printar" class="example-card">
  <div class="stack-top">{{ categoria }}<br>{{ tempoPreparo | tempo}}</div>
  <div
    fxLayout="column"
    fxLayout.gt-xs="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="90px"
  >
    <div class="sobre">
      <mat-card-title>{{ nome }}</mat-card-title>
      <mat-card-subtitle>{{ descricao }}</mat-card-subtitle>
    </div>
  </div>
  <mat-card-content>
    <h4>Ingredientes:</h4>
    <div class="message" [innerHTML]="ingredientes"></div><br>
    <h4>Modo de preparo:</h4>
    <div class="message" [innerHTML]="modoPreparo"></div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="backToList()">Voltar</button>
    <button mat-button
    printSectionId="printar"
    printTitle="Receita de {{nome}}"
    [useExistingCss]="true"
     ngxPrint>Imprimir</button>
  </mat-card-actions>
</mat-card>



