<div class="one">
  <br />
  <h1>{{ titulo }}</h1>
</div>

<mat-list role="list">
  <mat-list-item role="listitem"
    >Cabeçalho e rodapé foram feitos na atividade 05</mat-list-item
  >
  <mat-list-item role="listitem"
    >Escolha de framework CSS foi feito na atividade 05</mat-list-item
  >
  <mat-list-item role="listitem"
    >Criado interpolationn para mostrar titulo da pagina home, posteriormente
    será um componente proprio com @Input</mat-list-item
  >
  <mat-list-item role="listitem"
    >Criado botão na pagina de criação para utilizar o Event
    binding</mat-list-item
  >
</mat-list>
