.list-horizontalasdf {
  display: flex;
  flex-direction: row;
 }



example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.sidenav {
  background-color: #3f51B5;
  width:200px;
  height: 100%;
}

.sidenav a {
  color: #FFF;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: white;
}
