<app-titulo-pagina [titulo]="pageTitle"></app-titulo-pagina>

<mat-card class="example-card">
  <div
    fxLayout="column"
    fxLayout.gt-xs="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="90px"
  >
    <div>
      <mat-card-title>{{ nome }}</mat-card-title>
      <mat-card-subtitle>{{ descricao }}</mat-card-subtitle>
    </div>
    <div>
      <span>{{ categoria }}</span><br>
      <span>{{ tempoPreparo }}</span>
    </div>
  </div>
  <mat-card-content>
    <h4>Ingredientes:</h4>
    <div class="message" [innerHTML]="ingredientes"></div>
    <h4>Modo de preparo:</h4>
    <div class="message" [innerHTML]="modoPreparo"></div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Voltar</button>
    <button mat-button>Imprimir</button>
  </mat-card-actions>
</mat-card>

